@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import './root.css';

*{
    font-family: "Inria Sans", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    cursor: pointer;
}

/* HOME */
.landing{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    
    width: 90%;
    height: 90vh;
}

header{
    display: flex;
    justify-content: space-between;

    height: 10%;
}

header .titulo span{
    font-size: var(--tamanho-titulo);
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.navbar{
    display: flex; 
    justify-content: space-around;
    width: 60%;
}

.navbar li{
    list-style-type: none;
    display: flex;  
}

.navbar a {
    text-decoration: none;
    display: flex;
    color: white;
    font-size: var(--tamanho-texto-nav);

    transition: 0.8s;
}

.navbar a:hover{
    text-decoration: underline var(--primary-color);
    text-underline-offset: 8px;
    color: var(--primary-color);
}

.acoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-login{
    background-color: var(--button-color);
    border:none;
    border-radius: 10px;
    font-size: var(--tamanho-texto-nav);
    color: white;

    margin-right: 20px;

    width: 80px;
    height: 30px;

    transition: 0.5s;
}

.btn-login:hover{
    background-color: white;
    color: black;
}

.btn-cadastrar{
    border: 1px solid var(--button-color);

    background-color: var(--btn-cadastrar-background);
    border-radius: 10px;
    font-size: var(--tamanho-texto-nav);
    color: var(--button-color);

    margin-right: 20px;

    width: 100px;
    height: 30px;

    transition: 0.5s;
}

.btn-cadastrar:hover{
    background-color:var(--button-color) ;
    color: white;
}

.banner{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-banner .titulo{
    font-size: var(--tamanho-titulo);
    color: white;
}

.conteudo-banner .descricao{
    color: white;
    font-size: var(--tamanho-desc);
    margin-top: 8px;
    margin-bottom:15px;
}

.conteudo-banner .btn-participar{
    background-color: var(--button-color);
    border:none;
    border-radius: 10px;
    font-size: var(--tamanho-sub);
    color: white;

    margin-right: 20px;

    width: 190px;
    height: 50px;

    transition: 0.5s;
}

.conteudo-banner .btn-participar:hover{
    background-color: white;
    color: black;
}

/* SOBRE O PROJETO */

.sobre {
    height: 90vh;
    width: 92%;

    display: flex;
    flex-direction: column;
}

.sobre .titulo{
    min-height: 20vh;
    font-size: var(--tamanho-titulo);

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.conteudo-sobre .texto{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.texto-sobre{
    margin-top: 5vh;
}

.conteudo-sobre .texto span{
    font-size: var(--tamanho-desc);
}

.image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.img-sobre{
    max-width: 700px;
}

/* CRIADOR */

.criador {
    height: 70vh;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.criador .titulo{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criador .titulo span{
    font-size: var(--tamanho-titulo);
}

.conteudo-criador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.conteudo-criador .texto{
    width: 60%;
}

.conteudo-criador .texto span{
    font-size: var(--tamanho-desc);
}

.conteudo-criador .imagem{
    width: 30%;
}

.img-criador {
    border-radius: 500px;
    max-width: 450px;
}

/* CONTATO */

.contato{
    height: 90vh;
    width: 90%;

    display: flex;
    flex-direction: column;
}

.conteudo-contato{
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 90vh;
}

.conteudo-contato .titulo{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-contato .titulo span{
    font-size: var(--tamanho-titulo);
}

.formulario{
    display: flex;
    flex-direction: column;
}

.margin-top{
    margin-top: 2vh;
}

.campo-contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9vh;
}

.campo-contato-msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
}

.campo-contato label,
.campo-contato-msg label,
.campo-confirmacao label{
    font-size: var(--tamanho-texto-nav);
}

.campo-confirmacao input{
    border-radius: 10px;
    width: 15px;
}

/* ESTILO DO CHECK BOX */
.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-wrapper-1 [type=checkbox].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
  background-color: #3B99FC;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
  background-color: #0a7ffb;
  color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
  background-color: #444;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted + label {
  -webkit-user-select: none;
  user-select: none;
}

.campo-contato input{
    border: 1px solid black;
    border-radius: 10px;
    height: 45px;
    padding-left: 5px;
    font-size: var(--tamanho-texto-nav);
}

.campo-contato input::placeholder{
    color: var(--placeholder-color);
}

.campo-contato-msg textarea{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 8px;
    font-size: var(--tamanho-texto-nav);
    color: var(--placeholder-color);
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.botao button{
    background-color: var(--bg-color-footer);
    border:none;
    border-radius: 10px;
    font-size: var(--tamanho-sub);
    color: white;

    margin-right: 20px;

    width: 190px;
    height: 50px;

    transition: 0.5s;
}

.botao button:hover{
    background-color: var(--light-red);
    color: black;
}

/* RODAPÉ */

footer{
    height: 30vh;
    width: 100%;
    background-color: var(--bg-color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-rodape{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes{
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    border-bottom: 1px solid white;
}

.redes span{
    font-size: var(--tamanho-sub);
    color: white;
}

.icones-redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.icones-redes a{
    text-decoration: none;
    color: white;
}

.icones-redes a i{
    font-size: 3.5em;
}

.copy{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy span{
    color: white;
    font-size: var(--tamanho-texto-nav);
}