<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Feat Up</title>
</head>
<body>
    <section>
        <div class="box">
            <header class="cabecalho">
                <span>Cadastrar</span>
            </header>
            <div>
                <div>
                    <label for=""></label>
                    <input type="text">
                </div>
                <div>
                    <label for=""></label>
                    <input type="text">
                </div>
                <div>
                    <label for=""></label>
                    <input type="email">
                </div>
                <div>
                    <label for=""></label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <div>
                        <span></span>
                        <span><a href=""></a></span>
                    </div>
                    <input type="url">
                </div>
                <div>
                    <div>
                        <label></label>
                        <span><a href=""></a></span>
                    </div>
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                </div>
                <div>
                    <label></label>
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                </div>
                <div>
                    <label></label>
                    <input type="text">
                </div>
            </div>
            <footer>
                <div>
                    <button>Cadastrar</button>
                </div>
                <div>
                    <a onclick="avacar()"><span>Próxima</span></a>
                    <a onclick="voltar()"><span>Anterior</span></a>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>