<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEAT UP</title>
</head>
<body>
    <section class="home">
        <header>
            <div class="titulo">
                <span>FEAT UP</span>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
            <div class="acoes">
                <button>Login</button>
                <button>Cadastrar</button>
            </div>
        </header>
        
        <div class="banner">
            <div class="conteudo-banner">
                <span>Potencialize seu conhecimento!</span>
                <span>Aprenda com diversos outros produtores que fazem parte de nosso projeto!</span>
                <button>Participe!</button>
            </div>
        </div>
    </section>

    <section class="sobre">
        <div class="titulo">
            <span>Sobre  o Projeto</span>
        </div>
        <div class="conteudo-sobre">
            <div class="texto">
                <span class="texto-sobre">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi eros, ultrices sit amet ullamcorper at, commodo eget diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam elementum luctus tellus aliquam vehicula. Phasellus interdum ipsum non mollis tristique. Phasellus et tellus quis odio rutrum sodales sit amet vitae dolor. Mauris condimentum ligula nisl, nec eleifend nisl mollis in. 
                </span>
                <span class="texto-sobre">
                    Quisque ut massa arcu. Aenean laoreet, nibh vitae imperdiet pulvinar, nulla ligula commodo lorem, pellentesque accumsan mi libero in purus. Integer sagittis, dui sed interdum elementum, augue leo ultricies ex, eget ullamcorper libero ante et dui. Etiam feugiat lobortis velit sed viverra. Vestibulum bibendum, magna ac gravida dictum, dolor diam venenatis neque, eu hendrerit massa enim non nunc. Ut tempus elit sit amet elit dignissim mattis. Morbi porttitor risus in turpis volutpat, vel gravida mauris luctus. Phasellus vel feugiat lectus, vitae varius sapien.
                </span>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </section>

    <section class="criador">
        <div class="titulo">
            <span>Criador</span>
        </div>
        <div class="conteudo-criador">
            <img src="" alt="">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi eros, ultrices sit amet ullamcorper at, commodo eget diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam elementum luctus tellus aliquam vehicula. Phasellus interdum ipsum non mollis tristique. Phasellus et tellus quis odio rutrum sodales sit amet vitae dolor. Mauris condimentum ligula nisl, nec eleifend nisl mollis in. </span>
        </div>
    </section>

    <section class="contato">
        <div class="conteudo-contato">
            <div class="titulo">
                <span>Contato</span>
            </div>
            <form class="formulario">
                <div class="campo-contato">
                    <label for="iptNome">Nome:</label>
                    <input id="iptNome" type="text" placeholder="Informe seu nome completo">
                </div>
                <div class="campo-contato">
                    <label for="iptEmail">Email:</label>
                    <input id="iptEmail" type="email" placeholder="Informe seu email">
                </div>
                <div class="campo-contato">
                    <label for="iptAssunto">Assunto:</label>
                    <input id="iptAssunto" type="text" placeholder="Informe o assunto">
                </div>
                <div class="campo-contato">
                    <label for="iptMensagem">Mensagem:</label>
                    <textarea id="iptMensagem">Digite a mensagem do contato</textarea>
                </div>
                <div class="campo-contato">
                    <input id="iptResposta" type="checkbox">
                    <label for="iptResposta">Concorda em receber respostas por email</label>
                </div>
                <div class="botao">
                    <button onclick="enviarMensagem()" type="submit"></button>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="conteudo-rodape">
            <div class="redes">
                <span>Nos acompanhe nas redes sociais</span>
                <div class="icones-redes">

                </div>
            </div>
            <div class="copy">
                <span>Copyright © 2024 Todos os direitos reservados</span>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="../js/contato.js"></script>